h2 {
    text-align: left;
    margin-left: 20px;
    margin-bottom: 5px;
    font-family: sans-serif;
}

h1 {
    text-align: left;
    margin-left: 20px;
    margin-bottom: 5px;
    font-family: sans-serif;
}

p{
    text-align: left;
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: sans-serif;
}

.ID{
    display: block;  
    margin-left: 20px;  
    margin-top: 20px;
    border: 5px solid gray;  
    border-radius:30px;  
}

.LeftMenu{ 
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 1000%;
    width: 30%;
    background-color: rgb(146, 191, 243); 
}


/* from www schools */

/* Add a black background color to the top navigation */
.topnav {
    display: table;
    position: absolute;
    top: 0;
    right: 0;
    height: 10%;
    width: 70%;
    background-color: rgb(146, 191, 243); 
    background-color: #333;
    overflow: hidden;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }
